*{
    font-family:Arial, Helvetica, sans-serif
}
section{
    background-color: rgb(240, 239, 232);
    margin: 0px 100px 100px 100px;
    border: 0px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    vertical-align: text-bottom;
    
}

#head{
    margin: 100px 100px 0px 100px;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-top: 0px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(17, 190, 17, 0.666);
    padding: 20px;
    color: white;
    height: 70px;
    line-height: 0px;
    vertical-align: middle;
}

p{
    margin-bottom: 0px;
    text-indent: 3px;
}

input[type="text"],input[type="email"] {
    width: 100%;
    border: 0px;
    height: 30px;
}

textarea {
    width: 100%;
    border: 0px;
}

input[type="submit"]:hover {
    color: darkgreen;
    background-color: white;    
}

input[type="submit"] {
    background-color: rgba(17, 190, 17, 0.666);
    height: 30px;
    width: 80px;
    border-radius: 10%;
    border: 0px;
}