.container1,.container2,.container3{
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    font-size: 30px; 
}
.item{
    border: none 2px red;
    box-sizing: border-box;
    align-content: stretch;
    flex: auto;
    padding: 20px;
    margin:3px;
    border-radius: 8px;
    background-color: rgb(219, 101, 29);
    color: white;
}
.subcontainer1,.subcontainer2,.subcontainer3{
    display: flex;
    flex-direction: row;
    align-items: stretch;  
}
.row{
    border: none 2px red;
    box-sizing: border-box;
    align-content: stretch;
    flex: auto;
    padding: 10px;
    margin: 3px;
    border-radius: 6px;
    background-color: bisque;
    color: rgb(219, 101, 29);
}


